
.title{
    margin:0; padding:0;
         width:100px; 
         padding:2px 0px;
         margin-right: 0px;
         background-color:#eee; 
         border-radius:3px; 
         color:#333;
         font-size:14px;
         font-weight:bold; 
         text-align:center;
         float:left;
         width:105px;
}
.element{
    margin-left:120px;
}
.element:hover{
    background:#EFEFF4;
}

.depts{
    padding-bottom: 5px;
    margin: 10px 0  10px 0;
    border-bottom: 1px  dashed #eee;
}
