.itembox {
  padding: 10px 25px;
  background: white;
  border: 1px solid #E9DDC4;
  margin-bottom:25px; 
}
.title{
       font-size: 20px;
}
.hr{
    margin: 2px;
    height: 2px;
    width: 100%;
    background-color: red;
    }